html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #2A3492;
}

body, input, button {
    font-family: 'Wellfleet', serif;
}

h1, p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
}

.correct-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.correct-number {
    color: black;
    font-size: 45px;
    font-weight: bold;
}


.number-message {
    font-size: 20px;
    font-weight: bold;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.high-score-text, .score-text {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.high-score, .score {
    padding-right: 8px;
    padding-left: 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input {
    height: 40px;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    border-radius: 8px;
    border: none;
}

input:focus {
    outline: none;
}

button {
    font-weight: bold;
    height: 50px;
    border: none;
    border-radius: 8px;
}

button:active {
    background-color: rgb(183, 183, 183);
}

